<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309040849360-dp5v0231nl0abmm6q9amsr5o6bt0vhmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309040849360-dp5v0231nl0abmm6q9amsr5o6bt0vhmj</string>
	<key>API_KEY</key>
	<string>AIzaSyAC5o9UXSTCyCMeMNYblbawbOTe_6MYmx8</string>
	<key>GCM_SENDER_ID</key>
	<string>309040849360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redting.developers.redting</string>
	<key>PROJECT_ID</key>
	<string>redting-d5504</string>
	<key>STORAGE_BUCKET</key>
	<string>redting-d5504.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309040849360:ios:d392bcd32b3ea20abc99d5</string>
</dict>
</plist>